@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body,html{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.home desc{
    width: 40vw;
}

.home img{
    width: 60vw;
}

.toggle_menu{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
}

.circle{
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.toggle_menu,.circle{
    cursor: pointer;
}

.features_section{
    background-color: #f2f2f0;
    transition: 0.3s ease-in-out;
}


.feature{
    min-height: 100vh;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.feature img{
    width: 50%;
}

.feature{
    background-color: transparent;
}

.feature:nth-child(odd){
    background-color: #2c365d;
    color: #f2f2f0;
    
}

.video{
    border-radius: 10px;
    width:50%;
    height:50vh;
    background-color:#f2f2f0;
}

.button{
    background-color: #ff5e3a;
    color: #f2f2f0;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 3%;
    border-radius: 10px;
    box-shadow: inset -4px -4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover{
    transform: scale(1.2);
}

.slideshow{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f0;
}

.slideshow h1{
    text-align: center;
}
.gallery{
    width: 60%;
    height: 60%;
    overflow-x: hidden;
}
.slide_container{
    width: 100%;
    height: 100%;
    position: relative;
    animation: slideshow 13s infinite alternate ease-in-out;
}

.slide{
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide:nth-child(1){transform: translateX(0);}
.slide:nth-child(2){transform: translateX(100%);}
.slide:nth-child(3){transform: translateX(200%);}
.slide:nth-child(4){transform: translateX(300%);}
.slide:nth-child(5){transform: translateX(400%);}

@keyframes slideshow{
    0%{transform: translateX(0%);}
    20%{transform: translateX(0%);}
    21%{transform: translateX(-100%);}
    40%{transform: translateX(-100%);}
    41%{transform: translateX(-200%);}
    60%{transform: translateX(-200%);}
    61%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    81%{transform: translateX(-400%);}
    100%{transform: translateX(-400%);}
}

@media screen and (max-width:768px){
    body{
        font-size: 1.125rem;
    }
    .feature{
       flex-direction: column;
    } 
    
    .feature img{
        width: 80%;
      
    }

    .video{
        border-radius: 10px;
        width: 90%;
        height: 90vw;
    }

    .gallery{
        width: 90%;
        height: 60%;
        overflow-x: hidden;
    }

}
