@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body,html{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.features_section{
    background-color: #f2f2f0;
}
.feature{
    height: 100vh;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.feature img{
    width: 50%;
}

.feature{
    background-color: transparent;
}

.feature_2{
    background-color: #2c365d;
    color: #f2f2f0;
}

@media screen and (max-width:768px){
    .feature{
       flex-direction: column;
    } 
    
    .feature img{
        width: 80%;
    }

}
