@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body,html{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.toggle_menu{
    position: fixed;
    top: 20px;
    right: 10px;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
}

.circle{
    position: absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.toggle_menu,.circle{
    cursor: pointer;
}

.features_section{
    background-color: #f2f2f0;
}

.dark_theme .features_section{
    background-color: #333333;
    color: #fff;
}

.dark_theme .circle{
    transform: translateX(30px);
    background-color:rgba(0,0,0,0.3);
}

.dark_theme .toggle_menu{
    background-color: #fff;
}

.feature{
    height: 100vh;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.feature img{
    width: 50%;
}

.feature{
    background-color: transparent;
}

.feature:nth-child(even){
    background-color: #2c365d;
    color: #f2f2f0;
    
}

.video{
    border-radius: 10px;
    width:560px;
    height: 315px;
    background-color:#2c365d;
}

@media screen and (max-width:560px){
    .video{
        border-radius: 10px;
        width: 90%;
        height: 90vw;
    }
}


@media screen and (max-width:768px){
    .feature{
       flex-direction: column;
    } 
    
    .feature img{
        width: 80%;
      
    }

}
